#header {
	width: 100%;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 25px;

	.logo-container {
		height: 100%;
		width: 70px;

		.options {
			width: 50%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.option {
				padding: 10px 15px;
				cursor: pointer;
			}
		}
	}

	.header-options {
		height: 100%;
		position: relative;

		.option {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-size: 21px;

			padding-right: 1.9rem;
			padding-left: 0.5rem;
		}
	}
}
